
@import '../variables';
body{
    background-color: $orange;
    margin:0;
}
.contact{
    display:flex;
    flex-wrap: wrap;
    border: 4px solid $black;
    border-radius: 5px;
    background-color: #fff;
    width:70%;
    height:auto;
    box-shadow: #000 0px 0px 15px;
                // #fff 0px 0px 20px;
    position: relative;
    left:15%;
    padding-top:2%;    
    padding-bottom:1%;
}
h1{
    text-align: center;
    text-decoration: underline;
    width: 100%;
    height:50px;
    letter-spacing: 1.5px;
}

.content-left{
    width:45%;
    margin-left: 5%;
   
    .form{
        text-align: left;
        padding-left: 5%;
        padding-right:5%;
        .honor{
            // height:20px;
            width:75px;
            height:25px;
            background-color: $grey;
            border:2px solid $black;
            font-size: 18px;
            margin-bottom:10px;
        }
        
        label{
            small{
                color: $orange;
            }
        }
        input{
            appearance: none;
            width:95%;
            height:30px;
            margin-bottom: 10px;
            border:2px solid $black;
            border-radius: 5px;
            background-color: $grey;
            color:$black;
            padding: 2%;
            font-size:1.125em;       
        }
        input::placeholder{
            color:darken($grey,40%);  
        }
        .name{
            display:flex;
        }
        .first-name-group{
            margin-right:15px;
        }
        .first-name-group input,.last-name-group input{
            width:93.5%;
        }
    }
}
.content-right{
    width:45%;
    margin-left: 5%;

    .cap{
        width:250px;
        height:135px;
        background-color: $grey;
        border: 3px solid $black;
        margin-top:28px;
        margin-left:75px;
    }
}
#mapid{
    width:400px;
    height:200px;
    margin-top:53px;
    // margin-left:35px;
    border: 3px solid $orange;
    border-radius: 5px;
}
.check{
    display:flex;
    width:100%;
    margin-left:10%;
    letter-spacing: 1.2px;
    font-size: 18px;

    #check{
        appearance: none;
        border: 3px solid $black;
        width:30px;
        height:30px;
        margin-top: 15px;
        margin-right:25px;
        &:checked{
            background-color: $orange;
            &::after{
                font-family:'Font Awesome 5 Free';
                content:'\f00c';
                font-weight: 900;
                font-size: 20px;
                color:white;
                position: relative;
                top:8%;
                left:10%;
            }
        }
    }
    p{
        // width:90%;
        color:$black;
        a{
            color:$black;
            &:hover{
                color:lighten($black,20%);
            }
        }
    }
}
#msg{
    height:100px;
    // padding-top: 3px;
}
.textarea{
    display: block;
    min-width: 90%;
    
    overflow: hidden;
    // resize: both;
    resize: vertical;
    min-height: 115px;
    line-height: 20px;
    background-color: $grey;
    border:2px solid $black;
    border-radius:3px;
    font-size:1.125rem;
    padding: 10px 15px; 
}
.textarea[contenteditable]:empty::before{
    content: "Type your message here...";
    color:darken($grey,40%);
    // padding:5px;
}

.colourbox-1,.colourbox-2{
    min-width:100%;
    min-height: 100px;
    background-color: $black;
    margin: none;
}

.colourbox-1{
    margin-bottom: 75px;
}
.colourbox-2{
    margin-top:75px;
}

#submit{
    // display:none;
    appearance: none;
    width:250px;
    height:50px;
    position: relative;
    left:35%;
    bottom:10%;
    background-color: $orange;
    border:1px solid $border-dark;
    &:hover{
        background-color:$grey;
        border:1px solid $orange;
        border-radius: 5px;
        cursor: pointer;
    }
}
