@media (max-width:1200px) {

}

@media (max-width:1024px) {
    
}

@media (max-width:800px) {
    
}

@media (max-width:768px) {
    .testimonials
    .testimonial-container
    .container
    .testimonial-wrapper
    .testimonial {
        padding-bottom: 80px;
    } 
}

@media (max-width:600px) {
    .testimonials
    .testimonial-container
    .container
    .testimonial-wrapper
    .testimonial {
        padding-bottom: 100px;
    }
}

@media (max-width:510px) {
    
}

@media (max-width:480px) {
    
}

@media (max-width:425px) {
    
}

@media (max-width:414px) {
    
}

@media (max-width:384px) {
    
}

@media (max-width:375px) {
    .testimonials
    .testimonial-container
    .container
    .testimonial-wrapper
    .testimonial {
        padding-bottom: 130px;
    } 
}

@media (max-width:360px) {
    .testimonials
    .testimonial-container
    .container
    .testimonial-wrapper
    .testimonial {
        padding-bottom: 140px;
    }
}

@media (max-width:320px) {
    
}

@media (max-width:280px) {
    
}