
@media (max-width:800px) {
    .page-title {
        .text-wrapper {
            width: 90%;
        }
    }
}

@media (max-width:600px) {
    
    .portfolio-section 
    .container 
    .portfolio-wrapper 
    img {
        width: 80%;
    }
}

@media (max-width:320px) {
    .page-title
    .text-wrapper
    h1 {
        font-size: 50px;
    }
}
