
@media (max-width:1024px) {
    
}

@media (max-width:800px) {
    .top-content {
        .container {
            display: flex;
            flex-direction: column;
            .col {
                width: 90%;
                margin: 0 auto;
                padding: 30px;
                &_image {
                    padding: 0;
                    width: 100%;
                }
                &_text {
                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
    .main-content {
        .container {
            display: flex;
            flex-direction: column;
            [class*='-wrapper'] {
                width: 90%;
                margin: 0 auto;
            }
            .evaluation-wrapper {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width:480px) {
   .top-content
   .container
   .col_text {
       padding: 30px 0;
   } 
}

@media (max-width:384px) {
    .top-content
    .container
    .col
    h1 {
        font-size: 45px;
    }
}

@media (max-width:320px) {
    .top-content
    .container
    .col
    h1 {
        font-size: 40px;
    }
}

@media (max-width:280px) {
    .top-content
    .container
    .col
    h1 {
        font-size: 35px;
    }
}
