@import "variables";

.top-content {
    background-color: $orange;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        .col {
            width: 50%;
            padding: 35px;
            padding-left: 0;
            img {
                width: 100%;
            }
            color: white;
            h1 {
                margin: 0;
                margin-bottom: 10px;
                font-size: 50px;
                font-weight: 400;
                text-transform: uppercase;
            }
            p {
                font-size: 20px;
                letter-spacing: .8px;
            }
            &_text {
                p {
                    width: 90%;
                }
            }
        }
    }
}
.main-content {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        [class*='-wrapper'] {
            width: 50%;
            font-size: 20px;
        }
        .evaluation-wrapper {
            .btn-wrapper{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .btn {
                    display: block;
                    height: 25px;
                    width: 25px;
                    text-decoration: none;
                    text-align: center;
                    color: $black;
                    padding: 10px 10px;
                    background-color: white;
                    border-radius: 50%;
                    border: 3px solid $orange;
                    transition: all .1s;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    &_call {
                        font-size: 20px;
                    }
                    &_email {
                        font-size: 25px;
                    }
                    &_facebook {
                        font-size: 25px;
                    }
                    &_twitter {
                        font-size: 25px;
                    }
                    &_google {
                        font-size: 25px;
                    }
                    &:hover {
                        transform: scale(1.1,1.1);
                        border: 3px solid $black;
                        transition: all .1s;
                    }
                }
            }
        }
    }
}

@import 'const-styleMedias';