@import 'variables';

@media (max-width:1280px) {

    body {
        .slides {
            .slide {
                .overlay-container {
                    left: 100px;
                }
            }
        }
    }

    .welcome-container {
        .container {
            .carousel-wrapper {
                .partner-slides {
                    width: 85%;
                    margin: 0 auto;
                    .slide {
                        img {
                            max-width: 280px;
                        }
                    }
                    .slideOne {
                        img {
                            height: 118px;
                        }
                    }
                }
            }
        }
    }

    #footer {
        footer {
            .footerContent {
                .container {
                    .Follow-Us {
                        .socials {
                            width: 80%;
                            .twitter {
                                i {
                                    padding: 6px 0 5px;
                                    padding-right: 10px;
                                }
                            }
                            .googlePlus {
                                i {
                                    padding: 4px 0;
                                    padding-right: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:1024px) {

    #header {
        header {
            .header {
                max-width: 992px;
                .navigation {
                    .phone-button {
                        width: 160px;
                        a {
                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .slides {
        .slide {
            .overlay-container {
                max-width: 992px;
                .overlay {
                    max-width: 992px;
                    margin: 0 auto 0 100px;
                }
            }
        }
    }
    

    .welcome-container {
        margin-top: 40px;
        .container {
            max-width: 992px;
            margin: 0 auto;
            .content-wrapper {
                .image-wrapper {
                    img {
                        width: 100%;
                        margin-top: 162px;
                    }
                }
            }
            .carousel-wrapper {
                .partner-slides {
                    width: 768px;
                    margin: 0 auto;
                    .slide {
                        img {
                            //max-width: 180px;
                            max-height: 95px;
                            margin: 40px auto
                        }
                    }
                    .slideOne {
                        img {
                            width: 90%;

                        }
                    }
                    
                }
            }
        }
    }

    .services-container {
        .container {
            max-width: 992px;
            .top {
                display: flex;
                justify-content: space-between;
                p {
                    width: 70%;
                    font-size: 22px;
                    margin-top: 40px;
                    // margin-left: 60px;
                }
            }
            .services-wrapper {
                flex-direction: column;
                .service {
                    margin: 20px auto;
                    width: 70%;
                    position: relative;
                    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    &:before,
                    &::after {
                        content:"";
                        position:absolute;
                        z-index:-1;
                        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
                        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
                        box-shadow:0 0 20px rgba(0,0,0,0.8);
                        top:0;
                        bottom:0;
                        left:10px;
                        right:10px;
                        -moz-border-radius:100px / 10px;
                        border-radius:100px / 10px;
                    }

                    .img-architecture {
                        background-image: url(Assets/architecture.jpg);
                    }
                    .img-construction {
                        background-image: url(Assets/construction.jpg);
                    }
                    .img-installation {
                        background-image: url(Assets/Installation.jpg);
                    }
                    .img-cont {
                        background-size: cover;
                        background-repeat: no-repeat;
                        overflow: hidden;
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .testimonial-container {
        .container {
            max-width: 992px;
        }
    }

    #footer {
        footer {
            .getInTouch {
                .container {
                    max-width: 992px;
                    .text {
                        padding-right: 10px;
                    }
                }
            }
            .footerContent {
                .container {
                    max-width: 992px;
                    padding-left: 40px;
                    .Follow-Us {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width:800px) {

    #header {
        header {
            .header {
                width: 90%;
                display: flex;
                justify-content: space-between;
                .logo {
                    width: 50%;
                    a {
                        img {
                            width: 100%;
                            padding-top: 8px;
                        }
                    }
                }
                .navigation {
                    width: auto;
                    .menu {
                        display: none;
                    }
                }
                .sidebar-button {
                    display: block;
                    align-self: center;
                    .menu-button {
                        //height: 56px;
                        //line-height: 46px;
                        font-size: 18px;
                        //float: left;
                        //border-color: $orange;
                        border: none;
                        color: white;
                        background-color: $orange;
                        padding: 0px 10px;
                        text-transform: uppercase;
                        border-radius: 3px;
                        white-space: normal;
                        display: inline-block;
                        cursor: pointer;
                        transition: all .15s;
                        .hamburger-box {
                            display: block;
                            position: relative;
                            top: 3px;
                            width: 33px;
                            height: 19px;
                            .hamburger-inner {
                                width: 33px;
                                height: 3px;
                                position: absolute;
                                display: block;
                                top: 50%;
                                margin-top: -1.5px;
                                background-color: white;
                                &::before {
                                    content: '';
                                    width: 33px;
                                    height: 3px;
                                    position: absolute;
                                    display: block;
                                    top: -8px;
                                    background-color: white;
                                }
                                &::after {
                                    content: '';
                                    width: 33px;
                                    height: 3px;
                                    position: absolute;
                                    display: block;
                                    top: 8px;
                                    background-color: white;
                                }
                            }
                        }
                        .title {
                            font-size: 12px;
                        }
                    }
                }
            }
            .sidebar {
                display: block;
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 99999;
                top: 0;
                right: 0;
                background-color: $dark-grey;
                overflow-x: hidden;
                padding-top: 60px;
                transition: 0.3s;
                text-decoration: none;
                list-style: none;

                .closebtn {
                    position: absolute;
                    top: 0;
                    left: 25px;
                    font-size: 36px;
                    margin-right: 50px;
                    text-decoration: none;
                    color: #ccc;
                }

                .list-items {
                    border-top: 1px solid $black;
                    border-bottom: 1px solid $border-dark;
                    .item {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        border-top: 1px solid $border-dark;
                        border-bottom: 1px solid $black;
                        letter-spacing: .8px;
                        a {
                            display: inline-block;
                            position: relative;
                            text-decoration: none;
                            color: #ccc;
                            padding-left: 30px;
                            width: 100%;
                            height: 100%;
                            font-size: 20px;
                            i {
                                position: absolute;
                                left: 25px;
                                font-size: 8px;
                                padding-right: 8px;
                                line-height: 40px;
                            }
                        }
                        .sub-menu {
                            font-size: 16px;
                            padding-left: 40px;
                        }
                    }
                }

                #main {
                    transition: margin-right .5s;
                    padding: 20px;
                }
            }
        }
    } 

    body {
        .slides {
            .slide {
                .overlay-container {
                    .overlay {
                        margin: 0;
                    }
                    img {
                        margin-left: -1000px;
                    }
                }
            }
        }
    }

    .welcome-container {
        .container {
            padding: 0 20px 40px;
            .content-wrapper {
                //flex-direction: column;
                .text-wrapper {
                    width: 100%;
                    
                }
                .image-wrapper {
                    width: 100%;
                    img {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
            .carousel-wrapper {
                display: none;
            }
        }
    }

    .services-container {
        .container {
            padding: 0 20px;
            .top {
                flex-direction: column;
                .title {
                    width: 100%;
                }
                p {
                    width: 100%;
                    margin-top: 0;
                }
            }
            
        }
    }

    .testimonial-container {
        .container {
            max-width: 768px;
        }
    }

    #footer {
        footer {
            .getInTouch {
                .container {
                    max-width: 768px;
                    .text {
                        width: 65%;
                    }
                    .button {
                        width: 35%;
                    }
                }
            }
            .footerContent {
                .container {
                    padding-left: 20px;
                }
            }
        }
    }

}

@media (max-width:768px) {
      
   
    .testimonial-container {
        .container {
            padding: 0 20px;
        }
    }

    #footer {
        footer {
            .container {
                padding: 0 20px;
            }
            .getInTouch {
                .container {
                    .button {
                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
            .footerContent {
                .container {
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding-bottom: 45px;
                    .Follow-Us {
                        .socials {
                            .twitter {
                                i {
                                    padding: 6px 0 5px;
                                    padding-right: 10px;
                                }
                            }
                            .googlePlus {
                                i {
                                    padding: 4px 0;
                                    padding-right: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    
}

@media (max-width:600px) {

    #footer {
        footer {
            .getInTouch {
                .container {
                    .text {
                        width: 60%;
                    }
                    .button {
                        width: 40%;
                        margin: auto;
                    }
                }
            }
        }
    }

}

@media (max-width:510px) {
    #header {
        header {
            .header {
                .navigation {
                    .phone-button {
                        display: none;
                    }
                }
                .phone-button-small {
                    display: block;
                    margin: auto 10px auto auto;
                    .mobile-icon {
                        width: 40px;
                        height: 40px;
                        background-color: $orange;
                        border-radius: 50%;
                        text-align: center;
                        //line-height: 40px;
                        color: white;
                        font-size: 22px;
                        i {
                            padding: 9px 10px;
                        }
                    }
                }
            }
        }
    }  
}

@media (max-width:480px) {

    body {
        .slides {
            .slide {
                .overlay-container {
                    left: 60px;
                }
            }
            .slick-arrow {
                &::after {
                    height: 40px;
                    width: 40px;
                }
            }
            .slick-prev {
                left: 10px;
            }
            .slick-next {
                right: 10px;
            }
        }
    }

    .services-container {
        .container {
            .services-wrapper {
                .service {
                    width: 100%;
                }
            }
        }
    }

    #footer {
        footer {
            .getInTouch {
                .container {
                    .text {
                        display: none;
                    }
                    .button {
                        width: 70%;
                        a {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:425px) {

    #header {
        header {
            .header {
                .logo {
                    width: 70%;
                }
            }
        }
    }

    body {
        .slides {
            //max-height: 600px;
            .slide {
                height: 700px;
                .overlay-container {
                    .overlay {
                        margin-left: 40px;
                        h1 {
                            font-size: 40px;
                        }
                        p {
                            font-size: 22px;
                            width: 80%;
                        }
                        .slider-button {
                            width: 90%;
                            a {
                                //width: 80%;
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
            
            .slick-arrow {
                &::after {
                    width: 32px;
                    height: 32px;
                }
            }
            .slick-prev {
                left: 5px;
            }
            .slick-next {
                right: 5px;
            }
        }
    }

    .services-container {
        .container {
            .top {
                p {
                    margin-top: 10px;
                }
            }
            .services-wrapper {
                .service {
                    width: 100%;
                }
            }
        }
    }

    #footer {
        footer {
            .getInTouch {
                .container {
                    .text {
                        display: none;
                    }
                    .button {
                        width: 80%;
                        margin: 0 auto;
                        a {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:414px) {
    body {
        .slides {
            .slide {
                .overlay-container {
                    left: 0;
                }
            }
        }
    }
}

@media (max-width:384px) {

    body {
        .slides {
            .slide {
                .overlay-container {
                    left: 0;
                    .overlay {
                        .slider-button {
                            a {
                                padding: 22px 35px;
                            }
                        }
                    }
                }
            }
        }
    }

    .welcome-container {
        .container {
            .content-wrapper {
                .text-wrapper {
                    img {
                        width: 350px;
                    }
                }
            }
        }
    }

    .services-container {
        .container {
            .services-wrapper {
                .service {
                    padding-bottom: 20px;
                }
            }
        }
    }

}

@media (max-width:375px) {

    body {
        .slides {
            .slide {
                .overlay-container {
                    .overlay {
                        h2 {
                            font-size: 25px;
                        }
                        .slider-button {
                            a {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }

    .welcome-container {
        .container {
            .content-wrapper {
                .text-wrapper {
                    img {
                        width: 340px;
                    }
                }
            }
        }
    }

    .services-container {
        .container {
            .services-wrapper {
                .service {
                    padding-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width:360px) {


    body {
        .slides {
            .slide {
                height: 620px;
                .overlay-container {
                    left: 0;
                    top: 15px;
                    margin-left: 40px;
                    .overlay {
                        margin: 0;
                        .slider-button {
                            a {
                                font-size: 20px;
                                //padding: 25px 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    .services-container {
        .container {
            .services-wrapper {
                .service {
                    padding-bottom: 40px;
                }
            }
        }
    }

    #footer {
        footer {
            .footerContent {
                .container {
                    padding-left: 20px;
                    .Follow-Us {
                        .socials {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:320px) {

    body {
        .slides {
            .slide {
                .overlay-container {
                    .overlay {
                        h2 {
                            font-size: 22px;
                        }
                        .slider-button {
                            a {
                                font-size: 20px;
                                padding: 22px 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    .welcome-container {
        .container {
            .content-wrapper {
                .text-wrapper {
                    img {
                        width: 290px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .services-container {
        .container {
            .services-wrapper {
                .service {
                    padding-bottom: 30px;
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #footer {
        footer {
            .getInTouch {
                .container {
                    .button {
                        a {
                            font-size: 25px;
                        }
                    }
                }
            }
            .footerContent {
                .container {
                    padding-bottom: 80px;
                    .Follow-Us {
                        
                        .mailListForm {
                            .mailListSubmit {
                                left: 0;
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:280px) {

    body {
        .slides {
            .slide {
                height: 590px;
                .overlay-container {
                    margin-top: 60px;
                    .overlay {
                        h1 {
                            font-size: 30px;
                        }
                        h2 {
                            font-size: 18px;
                        }
                        p {
                            font-size: 16px;
                        }
                        .slider-button {
                            a {
                                padding: 15px 15px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    .welcome-container {
        .container {
            .content-wrapper {
                .text-wrapper {
                    .title {
                        font-size: 30px;
                    }
                    img {
                        width: 250px;
                    }
                }
            }
        }
    }

    .services-container {
        .container {
            .services-wrapper {
                .service {
                    //padding-bottom: 80px;
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

@import 'aboutUsMedias';