@import 'variables';

.colour-bar{
    background-color: $black;
    min-height:100px;
}
.privacy-content {
    background-color: $orange;
    overflow-y: hidden;
    .container {
        background-color: white;
        max-width: 1200px;
        margin: 10px auto 0;
        padding: 40px 25px;
        -moz-box-shadow:    0 0 10px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow:         0 0 10px #ccc;
        .content-section {
            padding-left: 40px;
        }
        h2{
            font-size: 2em;
            text-transform: uppercase;
            color:$orange;
        }
        h3{
            font-size: 1.5em;
            color:$orange;
            text-decoration: underline;
            text-transform: capitalize;
        }
        p,li{
            font-size: 1.25em;
            color:$black;
            line-height: 1.75;
            width:65%;
            a, a:visited{
                color:$black;
            }
            a:hover{
                color:lighten($black,20%);
            }
        }
    }
}
