//Import Colour and Font
@import '_variables';


body {
    margin: 0;
    header {
        .header {
            max-width: 1200px;
            height:60px;
            margin: 0 auto;
            display: flex;
            .logo {
                float: left;
                width: 30%;
                align-self: center;
                a {
                    img {
                        width: 200px;
                    }
                }
            }
            .navigation {
                float: left;
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                .menu {
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    list-style-type: none;
                    padding: 0;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin: 0;
                    margin-right: 70px;
                    
                    li {
                        min-width: 120px;
                        height:60px;
                        line-height: 60px;
                        a {
                            text-decoration: none;
                            color: $black;
                        }
                        display: block;
                    }

                    .dropdown {
                        float: left;
                        .dropdown-menu {
                            z-index: 1000;
                            display: none;
                            font-size: 1rem;
                            padding: 5px 0;
                            background-color: $orange;                            

                            li {
                                line-height:normal;
                                font-size: 14px;
                                padding: 5px 0;
                                height:auto;
                                a {
                                    margin: auto;
                                    display:block;
                                    text-align:center;
                                }
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                display: block;
                            }
                        }
                    }
                }
                .phone-button {
                    background-color: $orange;
                    padding-left: 5px;
                    padding-right: 10px;
                    height: 35px;
                    border-radius: 2px;
                    align-self: center;
                    &:hover {
                        background-color: darken($color: $orange, $amount: 10);
                    }
                    a {
                        text-decoration: none;
                        color: $black;
                        display: flex;
                        flex-wrap: nowrap;
                        height: 100%;
                        .mobile-icon {
                            margin: auto;
                            background-color: white;
                            border-radius: 50%;
                            height: 30px;
                            width: 30px;
                            text-align: center;
                            line-height: 32px;
                            color: $orange;

                        }
                        p {
                            margin: auto;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }


}
