//Import Colour and Font
@import 'variables','services','welcome';


body {
    margin: 0;
    header {
        .header {
            max-width: 1200px;
            height:60px;
            margin: 0 auto;
            display: flex;
            .logo {
                float: left;
                width: 30%;
                align-self: center;
                a {
                    img {
                        width: 220px;
                    }
                }
            }
            .navigation {
                float: left;
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                .menu {
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    list-style-type: none;
                    padding: 0;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin: 0;
                    margin-right: 70px;
                    
                    li {
                        min-width: 120px;
                        height:60px;
                        line-height: 60px;
                        a {
                            text-decoration: none;
                            color: $black;
                        }
                        display: block;
                    }

                    .dropdown {
                        float: left;
                        position: relative;
                        .dropdown-menu {
                            position: absolute;
                            z-index: 1000;
                            display: none;
                            font-size: 1rem;
                            padding: 5px 0;
                            background-color: $orange;                            

                            li {
                                line-height:normal;
                                font-size: 14px;
                                padding: 5px 0;
                                height:auto;
                                a {
                                    margin: auto;
                                    display:block;
                                    text-align:center;
                                }
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                display: block;
                            }
                        }
                    }
                }
                .phone-button {
                    
                    align-self: center;
                    
                    a {
                        background-color: $orange;
                        padding-left: 3px;
                        padding-right: 10px;
                        height: 35px;
                        border-radius: 3px;
                        text-decoration: none;
                        color: $black;
                        font-weight: 500;
                        font-size: 17px;
                        display: flex;
                        flex-wrap: nowrap;
                        height: 100%;
                        border: 3px solid $orange;
                        cursor: pointer;
                        &:hover {    
                            background-color: #fff;
                            border: 3px solid $orange;
                            border-radius: 8px;
                            transition: all 0.3s ease-in;
                            .mobile-icon {
                                background-color: $orange;
                                color: #fff;
                                transition: all 0.3s ease-in;
                            }
                        }
                        .mobile-icon {
                            margin: auto;
                            background-color: white;
                            border-radius: 50%;
                            height: 30px;
                            width: 30px;
                            text-align: center;
                            line-height: 32px;
                            color: $orange;

                        }
                        p {
                            margin: auto;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .slides {
        //height: 500px;
        position:relative;

        .slick-arrow {

          position:absolute;
          z-index:9999;
          top:40%;
          text-indent:-9999px;
          border:none;
          background:transparent;
          //background:rgba(255,255,255,0.25);
          padding:10px 0;
          border-radius:10px;
          cursor:pointer;
          transition:all,0.3s;
          &:focus {
              outline: none;
          }
          

          &:hover {

            background:rgba(255,255,255,0.75);
            transition:all,0.3s;

          }

        }

        .slick-prev {

          left:20px;

          &:after {

            content:'';
            display:block;
            width:64px;
            height:64px;
            background:url('Assets/left-arrow.png') no-repeat;
            background-size:100%;
            margin-top:-14px;


          }

        }

        .slick-next {

          right:20px;

          &:after {

            content:'';
            display:block;
            width:64px;
            height:64px;
            background:url('Assets/right-arrow.png') no-repeat;
            background-size:100%;
            margin-top:-14px;



          }

        }

        .slide {
            height: 760px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            
            img {
                position:absolute;
                z-index: -1;
                height: 120%;
                margin-top: -85px;
                margin-left: -1360px;
            }
            .overlay-container {
                position: absolute;
                max-width: 1200px;
                margin: 0 auto;
                z-index: 99999;
                top: 70px;
                bottom: 0;
                right: 0;
                left: 0;
                .overlay {
                    // position: absolute;
                    // z-index: 99999;
                    // top: 70px;
                    // bottom: 0;
                    // right: 0;
                    // left: 120px;
                    color: white;
                    letter-spacing: 1px;
                    
                    h1 {
                        font-size: 60px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                    .divider {
                        margin-top: -40px;
                        letter-spacing: normal;
                    }
                    h2 {
                        font-size: 30px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    p {
                        max-width:400px;
                        font-size: 26px;
                        font-weight: 300;
                        letter-spacing: normal;
                    }
                    .slider-button {
                        margin-top: 55px;
                        a {
                            text-decoration: none;
                            color: $black;
                            font-size: 30px;
                            letter-spacing: 1px;
                            font-weight: 450;
                            background-color: #fff;
                            padding: 22px 50px;
                            border: 3px solid white;
                            cursor: pointer;
                            transition: all .5s;
                            &:hover {
                                //background-color: $orange;
                                //color: #fff;
                                color: $orange;
                                // transform: scale(1.05,1.05);
                                transition-duration: 0.1s;
                                //border: 3px solid $black;
                                border-radius: 15px;
                            }
                        }
                    }
                }
            }
            
        }
        .slideOne {
            background-image: url(Assets/builder-c-1.jpg);

        }
        .slideTwo {
            background-image: url(Assets/builder-c-2.jpg);
        }
        .slideThree {
            background-image: url(Assets/builder-c-3.jpg);
        }
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    footer {
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .getInTouch {
            background-color: $black;
            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .text {
                    width: 70%;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 300;
                    margin: auto 0;
                }
                .button {
                    width: 30%;
                    padding: 20px 0;
                    a {
                        display: block;
                        text-decoration: none;
                        background-color: #fff;
                        border: 3px solid $orange;
                        border-radius: 7px;
                        padding: 20px 30px;
                        font-size: 30px;
                        text-align: center;
                        color: $black;
                        font-weight: 700;
                        letter-spacing: 1px;
                        &:hover {
                            background-color: $orange;
                            border: 3px solid #fff;
                            color: #fff;
                            transform: scale(1.05,1.05);
                            transition-duration: 0.1s;
                        }
                    }
                    
                }
            }
        }

        .footerContent {
            background-color: $orange;
            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 30px 0 30px 100px;
                .Contact-Us {
                    display: flex;
                    flex-direction: column;
                    p {
                        color: $black;
                        margin: 5px 0;
                        font-weight: 500;
                        a {
                            text-decoration: none;
                            color: $black;
                            font-size: 18px;
                        }
                    }
                }

                .Sections {

                    ul {
                        padding: 0;
                        li {
                            list-style: none;
                            padding: 3px 0;
                            i{
                                padding-right: 10px;
                                color: #fff;
                                font-size: 12px;
                            }
                            a {
                                text-decoration: none;
                                color: $black;
                                font-weight: 500;
                                font-size: 18px;
                            }
                        }
                    }
                }

                .Follow-Us {
                    max-width: 350px;
                    .socials {
                        display: flex;
                        flex-flow: row wrap;
                        width: 70%;
                        font-weight: 500;
                        a {
                            width: 50%;
                            min-height: 30px;
                            line-height: 30px;
                            text-decoration: none;
                            color: $black;
                            i {
                                color: #fff;
                            }
                        }
                        .facebook {
                            i {
                                font-size: 22px;
                                padding-right: 18px;
                                padding-left: 3px;
                            }
                        }
                        .linkedIn{
                            i {
                                font-size: 26px;
                                padding-right: 17px;
                                padding-left: 3px;
                            }
                        }
                        .twitter {
                            i {
                                font-size: 25px;
                            }
                        }
                        .googlePlus {
                            i {
                                font-size: 30px!important;
                                padding-right: 10px;
                            }
                        }
                    }
                    .headerTwo {
                        margin:10px 0;
                        letter-spacing: 1px;

                    }
                    .mailListForm {
                        position: absolute;

                        .mailList {
                            height: 30px;
                            width: 195px;
                            border: 0;
                            border-radius: 8px;
                            font-size: 18px;
                            font-weight: 500;
                            padding-left: 11px;
                            padding-top: 3px;
                            padding-bottom: 3px;
                            &::placeholder {
                                color: $black;
                            }
                            &:focus {
                                outline: none;
                            }
                            select,
                            textarea {
                                color: $black;
                            }
                        }
                        .mailListSubmit {
                            position: relative;
                            left: -15px;
                            top: 0px;
                            height: 36px;
                            border: 0;
                            border-radius: 8px;
                            background-color: $black;
                            color: #fff;
                            width: 75px;
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .copyright {
            background-color: $black;
            .container {
                text-align: center;
                p {
                    margin: 0;
                    color: white;
                    padding: 32px 0;
                    font-weight: 300;
                    font-size: 18px;
                }

            }
        }
    }


}
