@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

.services-container {
  background-color: #f2a100;
  padding-bottom: 35px;
}

.services-container .container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-container .container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-container .container .top h2 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.75px;
}

.services-container .container .top h2::after {
  content: '';
  display: block;
  width: 66%;
  border: #fff solid .1px;
  margin-top: 10px;
}

.services-container .container .top p {
  margin-top: 3%;
  width: 75%;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.25;
}

.services-container .container .services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-container .container .services-wrapper .service {
  width: 378px;
  height: 490px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.services-container .container .services-wrapper .service .img-cont {
  height: 50%;
  overflow: hidden;
  background-color: #fff;
}

.services-container .container .services-wrapper .service .img-cont .service-img {
  height: 100%;
  width: 100%;
  -webkit-transition: all .75s;
  transition: all .75s;
}

.services-container .container .services-wrapper .service .img-cont .service-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
  -webkit-transition: all .75s;
  transition: all .75s;
}

.services-container .container .services-wrapper .service a {
  text-decoration: none;
  color: #101721;
}

.services-container .container .services-wrapper .service a h3 {
  margin: 45px 0 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .2px;
}

.services-container .container .services-wrapper .service a:hover, .services-container .container .services-wrapper .service a:visited {
  color: #101721;
}

.services-container .container .services-wrapper .service a:hover {
  text-decoration: underline;
}

.services-container .container .services-wrapper .service p {
  letter-spacing: .6px;
  margin: 0;
  padding: 10px 25px 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.3;
}

.services-container .container .services-wrapper .service .icon-wrapper {
  position: absolute;
  top: 36%;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.services-container .container .services-wrapper .service .icon-wrapper .icon {
  background-color: #101721;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-transition: all .75s;
  transition: all .75s;
}

.services-container .container .services-wrapper .service .icon-wrapper .icon:hover {
  -webkit-transform: scale(1.05) rotate(-360deg);
          transform: scale(1.05) rotate(-360deg);
  -webkit-transition: all .75s;
  transition: all .75s;
  border: 3px dashed #f2a100;
}

.services-container .container .services-wrapper .service .icon-wrapper .icon:hover i {
  color: #bdbfc0;
  -webkit-transition: all .75s;
  transition: all .75s;
}

.services-container .container .services-wrapper .service .icon-wrapper .icon i {
  font-size: 53px;
  line-height: 100px;
  color: #fff;
}

.services-container .container .services-wrapper .service .icon-wrapper .icon .cog {
  font-size: 44px;
}

@media (max-width: 500px) {
  .top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .top p {
    width: 85%;
  }
  .services-container {
    height: auto;
  }
  .services-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-wrapper .service {
    width: 95%;
    margin-top: 35px;
  }
  .services-wrapper .service:last-of-type {
    margin-bottom: 35px;
  }
}

.welcome-container {
  background-color: #fff;
}

.welcome-container .container {
  max-width: 1200px;
  margin: 40px auto 0;
}

.welcome-container .container .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome-container .container .content-wrapper .text-wrapper {
  width: 48%;
}

.welcome-container .container .content-wrapper .text-wrapper .title {
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

.welcome-container .container .content-wrapper .text-wrapper img {
  width: 378px;
  margin-left: -5px;
}

.welcome-container .container .content-wrapper .text-wrapper .divider {
  margin: 0;
}

.welcome-container .container .content-wrapper .text-wrapper .divider::after {
  content: '';
  display: block;
  width: 55%;
  border: #101721 solid 0.1px;
}

.welcome-container .container .content-wrapper .text-wrapper p {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 40px;
}

.welcome-container .container .content-wrapper .image-wrapper {
  width: 50%;
}

.welcome-container .container .content-wrapper .image-wrapper img {
  width: 600px;
  margin-left: auto;
}

.welcome-container .container .carousel-wrapper h1 {
  font-size: 40px;
  font-weight: 400;
}

.welcome-container .container .carousel-wrapper h1::after {
  content: '';
  display: block;
  width: 15%;
  border: #101721 solid 0.1px;
  margin-top: 10px;
}

.welcome-container .container .carousel-wrapper .divider {
  margin-top: -30px;
  font-weight: 300;
}

.welcome-container .container .carousel-wrapper .partner-slides {
  position: relative;
}

.welcome-container .container .carousel-wrapper .partner-slides .slick-arrow {
  position: absolute;
  z-index: 9999;
  top: 30%;
  text-indent: -9999px;
  border: none;
  background: transparent;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all,0.3s;
  transition: all,0.3s;
}

.welcome-container .container .carousel-wrapper .partner-slides .slick-arrow:focus {
  outline: none;
}

.welcome-container .container .carousel-wrapper .partner-slides .slick-arrow:hover {
  -webkit-transition: all,0.3s;
  transition: all,0.3s;
}

.welcome-container .container .carousel-wrapper .partner-slides .slick-prev {
  left: -100px;
}

.welcome-container .container .carousel-wrapper .partner-slides .slick-prev:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background: url("Assets/left-arrow.png") no-repeat;
  background-size: 100%;
  margin-top: -14px;
}

.welcome-container .container .carousel-wrapper .partner-slides .slick-next {
  right: -100px;
}

.welcome-container .container .carousel-wrapper .partner-slides .slick-next:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background: url("Assets/right-arrow.png") no-repeat;
  background-size: 100%;
  margin-top: -14px;
}

.welcome-container .container .carousel-wrapper .partner-slides .slide {
  padding: 10px 10px 0;
  height: 170px;
}

.welcome-container .container .carousel-wrapper .partner-slides .slide img {
  max-height: 150px;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.welcome-container .container .carousel-wrapper .partner-slides .slide img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.welcome-container .container .carousel-wrapper .partner-slides .slideOne img {
  height: 130px;
}

.testimonial-container .container {
  max-width: 1200px;
  margin: 30px auto 80px;
}

.testimonial-container .container h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.testimonial-container .container h1::after {
  content: '';
  display: block;
  width: 25%;
  border: #101721 solid 0.1px;
  margin-top: 10px;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide {
  position: relative;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slide p {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: .8px;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slide .author {
  width: 50%;
  margin: 0;
  float: left;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slide .quote-container {
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slide .quote-container .quote-bottom {
  margin-left: auto;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots {
  list-style: none;
  position: absolute;
  bottom: -25px;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  padding: 0;
  cursor: pointer;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li button:hover, .testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li button:focus {
  outline: none;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li button:hover:before, .testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li button:focus:before {
  opacity: 1;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial-container .container .carousel-wrapper .testimonial-slide .slick-dots li button.slick-active button:before {
  color: black;
  opacity: 0.75;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body .main-content {
  background-color: #f2a100;
}

body .main-content h1 {
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  text-align: center;
}

body .main-content .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

body .main-content .top-content .container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main-content .top-content .container img {
  width: 55%;
  border: 3px solid #101721;
  border-radius: 5px;
}

body .main-content .top-content .container p {
  color: #fff;
  width: 40%;
  font-size: 26px;
  margin: 0;
}

body .main-content .content {
  background-color: #fff;
  color: #101721;
  font-size: 1.25em;
}

body .main-content .content .container {
  max-width: 1200px;
  margin: 0 auto;
}

body .main-content .content h2 {
  padding-top: 3%;
}

body .main-content .content p {
  width: 45%;
}

body .main-content .content #constr {
  width: 50%;
  margin-bottom: 5%;
  margin-top: 1%;
  padding: 5px;
  font-size: 1.25em;
  background-color: #f2a100;
  color: #fff;
  border: 3px solid #101721;
  border-radius: 5px;
  text-transform: capitalize;
}

body .main-content .content .eval {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #101721;
  height: auto;
  padding: 15px 0;
}

body .main-content .content .eval p {
  color: #fff;
}

body .main-content .content .eval a {
  color: #101721;
  font-size: 1.875em;
  background-color: #fff;
  padding: 10px 25px;
  border: 5px solid #f2a100;
  border-radius: 3px;
  font-weight: 500;
  text-decoration: none;
}

body .main-content .content .eval a:hover {
  background-color: #f2a100;
  border: 5px solid #fff;
  border-radius: 5px;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

body {
  margin: 0;
}

body header .header {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header .logo {
  float: left;
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body header .header .logo a img {
  width: 220px;
}

body header .header .navigation {
  float: left;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .header .navigation .menu {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  margin-right: 70px;
}

body header .header .navigation .menu li {
  min-width: 120px;
  height: 60px;
  line-height: 60px;
  display: block;
}

body header .header .navigation .menu li a {
  text-decoration: none;
  color: #101721;
}

body header .header .navigation .menu .dropdown {
  float: left;
  position: relative;
}

body header .header .navigation .menu .dropdown .dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  font-size: 1rem;
  padding: 0;
  background-color: #f2a100;
}

body header .header .navigation .menu .dropdown .dropdown-menu li {
  line-height: normal;
  font-size: 14px;
  height: 34px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body header .header .navigation .menu .dropdown .dropdown-menu li:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: white;
}

body header .header .navigation .menu .dropdown .dropdown-menu li:hover a {
  color: #f2a100;
}

body header .header .navigation .menu .dropdown .dropdown-menu li a {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 34px;
}

body header .header .navigation .menu .dropdown:hover .dropdown-menu {
  display: block;
}

body header .header .navigation .phone-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body header .header .navigation .phone-button a {
  background-color: #f2a100;
  padding-left: 3px;
  padding-right: 10px;
  height: 35px;
  border-radius: 3px;
  text-decoration: none;
  color: #101721;
  font-weight: 500;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  border: 3px solid #f2a100;
  cursor: pointer;
}

body header .header .navigation .phone-button a:hover {
  background-color: #fff;
  border: 3px solid #f2a100;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body header .header .navigation .phone-button a:hover .mobile-icon {
  background-color: #f2a100;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body header .header .navigation .phone-button a .mobile-icon {
  margin: auto;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  color: #f2a100;
}

body header .header .navigation .phone-button a p {
  margin: auto;
  padding-left: 10px;
}

body .slides {
  position: relative;
}

body .slides .slick-arrow {
  position: absolute;
  z-index: 9999;
  top: 40%;
  text-indent: -9999px;
  border: none;
  background: transparent;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all,0.3s;
  transition: all,0.3s;
}

body .slides .slick-arrow:focus {
  outline: none;
}

body .slides .slick-arrow:hover {
  background: rgba(255, 255, 255, 0.75);
  -webkit-transition: all,0.3s;
  transition: all,0.3s;
}

body .slides .slick-prev {
  left: 20px;
}

body .slides .slick-prev:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background: url("Assets/left-arrow.png") no-repeat;
  background-size: 100%;
  margin-top: -14px;
}

body .slides .slick-next {
  right: 20px;
}

body .slides .slick-next:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background: url("Assets/right-arrow.png") no-repeat;
  background-size: 100%;
  margin-top: -14px;
}

body .slides .slide {
  height: 760px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body .slides .slide .overlay-container {
  position: absolute;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 9999;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
}

body .slides .slide .overlay-container img {
  position: absolute;
  z-index: -10;
  height: 120%;
  margin-top: -100px;
  margin-left: -1360px;
}

body .slides .slide .overlay-container .overlay {
  z-index: 99999;
  color: white;
  letter-spacing: 1px;
}

body .slides .slide .overlay-container .overlay h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body .slides .slide .overlay-container .overlay h1::after {
  content: '';
  display: block;
  width: 50%;
  border: #fff solid .1px;
  margin-top: 10px;
}

body .slides .slide .overlay-container .overlay .divider {
  margin-top: -40px;
  letter-spacing: normal;
}

body .slides .slide .overlay-container .overlay h2 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

body .slides .slide .overlay-container .overlay p {
  max-width: 400px;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: normal;
}

body .slides .slide .overlay-container .overlay .slider-button {
  margin-top: 55px;
}

body .slides .slide .overlay-container .overlay .slider-button a {
  text-decoration: none;
  color: #101721;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 450;
  background-color: #fff;
  padding: 22px 50px;
  border: 3px solid white;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .slides .slide .overlay-container .overlay .slider-button a:hover {
  color: #f2a100;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-radius: 15px;
}

body .slides .slideOne {
  background-image: url(Assets/builder-c-1.jpg);
}

body .slides .slideTwo {
  background-image: url(Assets/builder-c-2.jpg);
}

body .slides .slideThree {
  background-image: url(Assets/builder-c-3.jpg);
}

body main {
  max-width: 1200px;
  margin: 0 auto;
}

body footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

body footer .getInTouch {
  background-color: #101721;
}

body footer .getInTouch .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .getInTouch .container .text {
  width: 70%;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin: auto 0;
}

body footer .getInTouch .container .button {
  width: 30%;
  padding: 20px 0;
}

body footer .getInTouch .container .button a {
  display: block;
  text-decoration: none;
  background-color: #fff;
  border: 3px solid #f2a100;
  border-radius: 7px;
  padding: 20px 30px;
  font-size: 30px;
  text-align: center;
  color: #101721;
  font-weight: 700;
  letter-spacing: 1px;
}

body footer .getInTouch .container .button a:hover {
  background-color: #f2a100;
  border: 3px solid #fff;
  color: #fff;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

body footer .footerContent {
  background-color: #f2a100;
}

body footer .footerContent .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 30px 100px;
}

body footer .footerContent .container .Contact-Us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footerContent .container .Contact-Us p {
  color: #101721;
  margin: 5px 0;
  font-weight: 500;
  font-size: 18px;
}

body footer .footerContent .container .Contact-Us p a {
  text-decoration: none;
  color: #101721;
  font-size: 18px;
}

body footer .footerContent .container .Sections ul {
  padding: 0;
}

body footer .footerContent .container .Sections ul li {
  list-style: none;
  padding: 3px 0;
}

body footer .footerContent .container .Sections ul li i {
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
}

body footer .footerContent .container .Sections ul li a {
  text-decoration: none;
  color: #101721;
  font-weight: 500;
  font-size: 18px;
}

body footer .footerContent .container .Follow-Us {
  max-width: 350px;
}

body footer .footerContent .container .Follow-Us .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 70%;
  font-weight: 500;
}

body footer .footerContent .container .Follow-Us .socials a {
  width: 50%;
  min-height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #101721;
}

body footer .footerContent .container .Follow-Us .socials a i {
  color: #fff;
}

body footer .footerContent .container .Follow-Us .socials .facebook i {
  font-size: 22px;
  padding-right: 18px;
  padding-left: 3px;
}

body footer .footerContent .container .Follow-Us .socials .linkedIn i {
  font-size: 26px;
  padding-right: 17px;
  padding-left: 3px;
}

body footer .footerContent .container .Follow-Us .socials .twitter i {
  font-size: 25px;
}

body footer .footerContent .container .Follow-Us .socials .googlePlus i {
  font-size: 30px !important;
  padding-right: 10px;
}

body footer .footerContent .container .Follow-Us .headerTwo {
  margin: 10px 0;
  letter-spacing: 1px;
}

body footer .footerContent .container .Follow-Us .mailListForm {
  position: absolute;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList {
  height: 30px;
  width: 195px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList::-webkit-input-placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList:-ms-input-placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList::-ms-input-placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList::placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList:focus {
  outline: none;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList select,
body footer .footerContent .container .Follow-Us .mailListForm .mailList textarea {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailListSubmit {
  position: relative;
  left: -15px;
  top: 0px;
  height: 36px;
  border: 0;
  border-radius: 8px;
  background-color: #101721;
  color: #fff;
  width: 75px;
  font-size: 18px;
  font-weight: 400;
}

body footer .copyright {
  background-color: #101721;
}

body footer .copyright .container {
  text-align: center;
}

body footer .copyright .container p {
  margin: 0;
  color: white;
  padding: 32px 0;
  font-weight: 300;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */