@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

.services-container {
  background-color: #f69e2a;
  height: 600px;
  padding: 1% 13%;
}

.top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  margin-left: 3%;
}

.top h2 {
  text-transform: capitalize;
  font-size: 2.25em;
  letter-spacing: 1.75px;
  margin-right: 35px;
}

.top h2::after {
  content: '';
  display: block;
  width: 65%;
  border: #fff solid .1px;
  margin-top: 10px;
}

.top p {
  margin-top: 3%;
  width: 65%;
  font-size: 1.125rem;
  line-height: 1.25;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service {
  width: 25%;
  height: 450px;
  margin-left: 30px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.service .img-cont {
  width: 100%;
  height: 200px;
}

.service .service-img {
  width: 100%;
  height: 200px;
}

.service .service-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service p {
  padding: 15px;
}

.service i {
  font-size: 2.5em;
  background-color: #101721;
  padding: 25px;
  border-radius: 50%;
  color: #fff;
  position: relative;
  top: -12%;
}

.service i:hover {
  font-size: 2em;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  color: #cccccc;
  border: 3px dashed #f69e2a;
}

.service a {
  text-decoration: none;
  color: #101721;
}

.service a h3 {
  text-transform: uppercase;
}

.service a:hover, .service a:visited {
  color: #101721;
}

.service a:hover {
  text-decoration: underline;
}

.welcome-container {
  height: 700px;
  background-color: #fff;
}

.welcome-container .container {
  max-width: 1200px;
  margin: 40px auto 0;
}

.welcome-container .container .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome-container .container .content-wrapper .text-wrapper {
  width: 50%;
}

.welcome-container .container .content-wrapper .text-wrapper .title {
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

.welcome-container .container .content-wrapper .text-wrapper img {
  width: 378px;
  margin-left: -5px;
}

.welcome-container .container .content-wrapper .text-wrapper .divider {
  margin: -12px 0 0;
  font-weight: 300;
}

.welcome-container .container .content-wrapper .text-wrapper .p-One,
.welcome-container .container .content-wrapper .text-wrapper .p-Two {
  font-size: 24px;
}

.welcome-container .container .content-wrapper .image-wrapper {
  width: 50%;
}

.welcome-container .container .content-wrapper .image-wrapper img {
  width: 600px;
  margin-left: auto;
}

body {
  margin: 0;
}

body header .header {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header .logo {
  float: left;
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body header .header .logo a img {
  width: 220px;
}

body header .header .navigation {
  float: left;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .header .navigation .menu {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  margin-right: 70px;
}

body header .header .navigation .menu li {
  min-width: 120px;
  height: 60px;
  line-height: 60px;
  display: block;
}

body header .header .navigation .menu li a {
  text-decoration: none;
  color: #101721;
}

body header .header .navigation .menu .dropdown {
  float: left;
}

body header .header .navigation .menu .dropdown .dropdown-menu {
  z-index: 1000;
  display: none;
  font-size: 1rem;
  padding: 5px 0;
  background-color: #f69e2a;
}

body header .header .navigation .menu .dropdown .dropdown-menu li {
  line-height: normal;
  font-size: 14px;
  padding: 5px 0;
  height: auto;
}

body header .header .navigation .menu .dropdown .dropdown-menu li a {
  margin: auto;
  display: block;
  text-align: center;
}

body header .header .navigation .menu .dropdown:hover .dropdown-menu {
  display: block;
}

body header .header .navigation .phone-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body header .header .navigation .phone-button a {
  background-color: #f69e2a;
  padding-left: 3px;
  padding-right: 10px;
  height: 35px;
  border-radius: 3px;
  text-decoration: none;
  color: #101721;
  font-weight: 500;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  border: 3px solid #f69e2a;
}

body header .header .navigation .phone-button a:hover {
  background-color: #fff;
  border: 3px solid #f69e2a;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body header .header .navigation .phone-button a:hover .mobile-icon {
  background-color: #f69e2a;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body header .header .navigation .phone-button a .mobile-icon {
  margin: auto;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  color: #f69e2a;
}

body header .header .navigation .phone-button a p {
  margin: auto;
  padding-left: 10px;
}

body .slides {
  position: relative;
}

body .slides .slick-arrow {
  position: absolute;
  z-index: 9999;
  top: 45%;
  text-indent: -9999px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all,0.3s;
  transition: all,0.3s;
}

body .slides .slick-arrow:focus {
  outline: none;
}

body .slides .slick-arrow:hover {
  background: rgba(255, 255, 255, 0.75);
  -webkit-transition: all,0.3s;
  transition: all,0.3s;
}

body .slides .slick-prev {
  left: 20px;
}

body .slides .slick-prev:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background: url("Assets/left-arrow.png") no-repeat;
  background-size: 100%;
  margin-top: -14px;
}

body .slides .slick-next {
  right: 20px;
}

body .slides .slick-next:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background: url("Assets/right-arrow.png") no-repeat;
  background-size: 100%;
  margin-top: -14px;
}

body .slides .slide {
  height: 760px;
  background-repeat: no-repeat;
  background-size: cover;
}

body .slides .slideOne {
  background-image: url(Assets/builder-c-1.jpg);
}

body .slides .slideTwo {
  background-image: url(Assets/builder-c-2.jpg);
}

body .slides .slideThree {
  background-image: url(Assets/builder-c-3.jpg);
}

body main {
  max-width: 1200px;
  margin: 0 auto;
}

body footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

body footer .getInTouch {
  background-color: #101721;
}

body footer .getInTouch .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .getInTouch .container .text {
  width: 70%;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin: auto 0;
}

body footer .getInTouch .container .button {
  width: 30%;
  padding: 20px 0;
}

body footer .getInTouch .container .button a {
  display: block;
  text-decoration: none;
  background-color: #fff;
  border: 3px solid #f69e2a;
  border-radius: 7px;
  padding: 20px 30px;
  font-size: 30px;
  text-align: center;
  color: #101721;
  font-weight: 700;
  letter-spacing: 1px;
}

body footer .getInTouch .container .button a:hover {
  background-color: #f69e2a;
  border: 3px solid #fff;
  color: #fff;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

body footer .footerContent {
  background-color: #f69e2a;
}

body footer .footerContent .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 30px 100px;
}

body footer .footerContent .container .Contact-Us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footerContent .container .Contact-Us p {
  color: #101721;
  margin: 5px 0;
  font-weight: 500;
}

body footer .footerContent .container .Contact-Us p a {
  text-decoration: none;
  color: #101721;
  font-size: 18px;
}

body footer .footerContent .container .Sections ul {
  padding: 0;
}

body footer .footerContent .container .Sections ul li {
  list-style: none;
  padding: 3px 0;
}

body footer .footerContent .container .Sections ul li i {
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
}

body footer .footerContent .container .Sections ul li a {
  text-decoration: none;
  color: #101721;
  font-weight: 500;
  font-size: 18px;
}

body footer .footerContent .container .Follow-Us {
  max-width: 350px;
}

body footer .footerContent .container .Follow-Us .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 70%;
  font-weight: 500;
}

body footer .footerContent .container .Follow-Us .socials a {
  width: 50%;
  min-height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #101721;
}

body footer .footerContent .container .Follow-Us .socials a i {
  color: #fff;
}

body footer .footerContent .container .Follow-Us .socials .facebook i {
  font-size: 22px;
  padding-right: 18px;
  padding-left: 3px;
}

body footer .footerContent .container .Follow-Us .socials .linkedIn i {
  font-size: 26px;
  padding-right: 17px;
  padding-left: 3px;
}

body footer .footerContent .container .Follow-Us .socials .twitter i {
  font-size: 25px;
}

body footer .footerContent .container .Follow-Us .socials .googlePlus i {
  font-size: 30px !important;
  padding-right: 10px;
}

body footer .footerContent .container .Follow-Us .headerTwo {
  margin: 10px 0;
  letter-spacing: 1px;
}

body footer .footerContent .container .Follow-Us .mailListForm {
  position: absolute;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList {
  height: 30px;
  width: 195px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList::-webkit-input-placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList:-ms-input-placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList::-ms-input-placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList::placeholder {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList:focus {
  outline: none;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailList select,
body footer .footerContent .container .Follow-Us .mailListForm .mailList textarea {
  color: #101721;
}

body footer .footerContent .container .Follow-Us .mailListForm .mailListSubmit {
  position: relative;
  left: -15px;
  top: 0px;
  height: 36px;
  border: 0;
  border-radius: 8px;
  background-color: #101721;
  color: #fff;
  width: 75px;
  font-size: 18px;
  font-weight: 400;
}

body footer .copyright {
  background-color: #101721;
}

body footer .copyright .container {
  text-align: center;
}

body footer .copyright .container p {
  margin: 0;
  color: white;
  padding: 32px 0;
  font-weight: 300;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */