@import "../variables";

body{
    margin:0;
}

h1{
    text-transform: uppercase;
    color:white;
    text-decoration: underline;
    text-align: center;
}
.top-content{
    display:flex;
    padding-left:5%;
    padding-right:5%;
    p{
        color:#fff;
        width:31%;
        font-size: 1.75em;
        margin:0;
    }
}
img{
    // margin-left:5%;
    width:60%;
    height: 550px;
    // height:15%;
    border: 3px solid $black;
    border-radius: 5px;
    margin-right:5%;
}

.main-content{
    background-color: $orange;
}
.content{
    background-color: #fff;
    color:$black;
    font-size: 1.25em;
    // width:80%;
}
p,h2,h3{
    margin-left:10%;
    
}
h2{
    // margin-left: 15%;
    padding-top:3%;
}

p{
    // margin-left:15%;
    width:45%;
}

#constr{
    width:50%;
    margin-left:10%;
    margin-bottom: 5%;
    margin-top:1%;
    padding:5px;
    font-size: 1.25em;
    background-color: $orange;
    color:#fff;
    border: 3px solid $black;
    border-radius: 5px;
    text-transform: capitalize;
}

.eval{
    display: inline-flex;
    background-color: $black;
    height:auto;
    padding:15px 0;
    p{
        color:#fff;
    }
    a{
        color:$black;
        font-size:1.875em;
        background-color: #fff;
        padding:10px 25px;
        border:5px solid $orange;
        border-radius: 3px;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            background-color: $orange;
            border: 5px solid #fff;
            border-radius: 5px;
            color: #fff;
            transform: scale(1.05);
            transition-duration: 0.1s;
        }
    }
}
